<html>
<head><title>Homepage</title></head>
<body>
    <div style=" text-align: center;"><h2><b>MVP INFOTECH PVT. LTD.</b></h2></div>
    <button class="btn btn-primary" (click)="logOut()">LogOut</button>
<div class="items">
<div id="item1"><a href="/home">HR policy <i class="arrow down"></i></a>
    <div class="Hrpo">
        <a href ="/termination" id="link">Disciplinary&Termination Policy</a>
        <a href ="/probation" id="link">Employee probation period policy</a>
        <a href ="/leave" id="link">Leave Management</a>
    </div>
</div>
<div id="item"><a href="/timesheet">Timesheet</a></div>
<div id="item"><a href="/documents">Documents</a></div>
<div id="item"><a href="/claims">Claims</a></div>
<div id="item"><a href="/emp-details">EmpDetails</a></div>
<div id="item7"><a href="/home">Assets <i class="arrow down"></i></a>
    <div class="Aop">
        <a href ="assets" id="link">Asset Management</a>
    </div>
</div>
</div>
<!--<div>
<div><h1>Our <span>Featured</span> Solutions</h1></div>
<div><marquee>||</marquee></div>
</div>
<div class="para">
    <h3>Programmatic Advertising</h3>
Programmatic advertising is a system that automates the processes and transactions involved with purchasing and dynamically placing ads on websites or apps. Programmatic advertising makes it possible to purchase and place ads, including targeted advertising content, in less than a second.

<h3>Strategy & Research</h3>
<p>Research design is a plan to answer your research question. A research method is a strategy used to implement that plan. Research design and methods are different but closely related, because good research design ensures that the data you obtain will help you answer your research question more effectively.
</p>
<h3>Design & Developement</h3><p>
In design development, the schematic plans and elevations are reviewed, revised and expanded to incorporate all the details and specifications required for construction. Project components are looked at to the smallest detail. These include: Interior and exterior building materials and finishes.
</p>
<h3>Branding & Marketing</h3><p>
Brand research assists with the creation, development, and ongoing management and strengthening of brands. Analysis can be carried out to understand the landscape and develop a launch strategy. Brand research can also be conducted after launch to assist in the development of brand assets.
</p>
</div>-->
</body>
</html>