<h4>Please Upload all your certificates and other documents</h4>


<div class="input">
    <h6>10th Mark list : </h6>
<input type="file" accept=".jpeg, .png, .pdf" (change)="onFileChanged($event)">
</div>
<div class="input">
<input type="button" (click)="onUpload()" value="Upload">
</div>
<hr>

<div class="input">
    <h6>Inter Mark list : </h6>
    <input type="file" accept=".jpeg, .png, .pdf" (change)="onFileChanged($event)">
    </div>
    <div class="input">
    <input type="button" (click)="onUpload()" value="Upload">
    </div>
    <hr>

    <div class="input">
        <h6>Degree Mark list : </h6>
        <input type="file" accept=".jpeg, .png, .pdf" (change)="onFileChanged($event)">
        </div>
        <div class="input">
        <input type="button" (click)="onUpload()" value="Upload">
        </div>
        <hr>